<!-- wants一覧用 -->
<div class="bg-white w-200 mx-auto">
  <li id="want-<%= want.id %>">
    <span><%= link_to want.roaster.name, want.roaster %></span>
    <span><%= link_to want.bean.name, want.offer %></span>
    <span class="btn <%=want.offer.status%>"><%= want.offer.status_value %></span>
    <span><%= link_to '詳細', want_path(want), class: "link mt-4" %></span>
    <div class="flex">
      <% if want.bean.bean_images.any? %>
        <% want.bean.bean_images.each do |bean_image| %>
          <%= image_tag bean_image.image.thumb.url, class: "thumbnail" if bean_image.image? %>
        <% end %>
      <% end %>
    </div>
    <div><%= render partial: 'offers/offer_info', locals: { offer: want.offer } %></div>
    <hr class="mb-3">
  </li>
</div>
