<% provide(:title, "ウォンツ") %>
<h1 class="mb-1">ウォンツ</h1>
<hr class="mb-3">
<div class="container">
  <div class="form form-container">
    <%= form_with(url: search_wants_path, method: :get, local: true)do |f| %>
      <div class="select-field">
        <%= f.label :search, "検索", class: "label" %>
        <%= f.select :search, @search_index, {include_blank: '選択ボックス'}, class: 'select-box' %>
        <%= f.submit "検索", class: "btn-primary"  %>
      </div>
    <% end %>
  </div>
  <div class="w-200 pt-12 mx-auto">
    <% if @wants.any? %>
      <ol>
        <%= render partial: 'wants/want', collection: @wants %>
      </ol>
      <%== pagy_nav_js(@pagy) %>
    <% end %>
  </div>
</div>
