<% provide(:title, "ウォンツ詳細") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-between items-end">
    <h1 class="page-title">ウォンツ詳細</h1>
    <div class="mt-8">
      <%= render partial: 'wants/receipt_form', locals: { want: @want, offer: @want.offer } %>
    </div>
  </div>
</header>
<section class="container lg:w-11/12 mx-auto py-4 text-gray-600 body-font">
  <div id="want-rating-area">
    <div id="want-rating-form">
      <% if @want.receipted_at? && @want.unrated? %>
        <%= render partial: 'rating_form', locals: { want: @want, status: false } %>
      <% else %>
        <%= render partial: 'rating_form', locals: { want: @want, status: true } %>
      <% end %>
    </div>
  </div>
</div>
</section>
<div class="mt-16">
  <%= render partial: 'offers/offer_info', locals: { offer: @want.offer } %>
</div>
<div class="mt-8 mb-20">
  <%= render partial: 'beans/bean_info', locals: { bean: @want.bean } %>
</div>
