<% provide(:title, "ユーザー詳細") %>
<h1>ユーザー詳細ページ</h1>

<%= image_tag @user.image.thumb.url, size: 100 %>

<p>ユーザー名：<%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>エリア：<%= @user.area %></p>
<p>自己紹介：<%= @user.describe %></p>

<% if current_user == @user %>
  <%= link_to '編集', edit_user_registration_path , class: "btn-primary" %>
<% end %>
