<% provide(:title, "ユーザー詳細") %>
<h1>ユーザー詳細ページ</h1>

<%= image_tag @user.image_url, size: 100 %>
<p>ユーザー名：<%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>エリア：<%= @user.area %></p>
<p>自己紹介：<%= @user.describe %></p>
