<% provide(:title, "ログイン") %>
<div class="fixed inset-0 flex items-center">
  <div class="form-container">
    <div class="form-main">
      <h1 class="form-title">ログイン</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "shared/error_messages", resource: f.object %>
        <%# メールアドレスフィールド %>
        <div class="input-container">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: User.human_attribute_name(:email), class: "input-field" %>
          <div class="input-icon-field"><svg><use xlink:href="#mail"></use></svg></div>
        </div>
        <%# パスワードフィールド %>
        <div class="input-container">
          <%= f.password_field :password,
      autocomplete: "current-password", placeholder: User.human_attribute_name(:password), class: "input-field" %>
          <div class="input-icon-field"><svg><use xlink:href="#unlock"></use></svg></div>
        </div>
        <%# ログインの記録 %>
        <% if devise_mapping.rememberable? %>
          <div class="mt-2 ml-2 flex items-center text-gray-800">
            <%= f.check_box :remember_me, class: "mr-3" %> <%= f.label :remember_me, class:
        "" %>
          </div>
        <% end %>
        <div class="flex items-center justify-center mt-4"><%= f.submit "ログイン", class: "btn btn-primary btn-pop" %></div>
      <% end %>
    </div>
    <div class="form-footer">
      <h4 class="pb-2">パスワードを忘れましたか？
        <%= link_to 'パスワード再設定', new_user_password_path, class: "ml-2 link" %></h4>
      <h4>アカウントをお持ちではありませんか？
        <%= link_to 'サインアップ', new_user_registration_path, class: "ml-2 link" %></h4>
      <h4 class="pt-4 text-center text-sm text-gray-800 font-light">閲覧用</h4>
      <div>
        <div class="flex justify-center">
          <%= button_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-pop" %>
        </div>
      </div>
    </div>
    <div class="form-footer">
    </div>
  </div>
</div>
