<% provide(:title, "サインアップ") %>
<div class="mt-16 flex items-center">
  <div class="form-container">
    <div class="form-main">
      <h1 class="form-title">サインアップ</h1>
      <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "shared/error_messages", resource: f.object %>
        <%# 名前フィールド %>
        <div class="input-container">
          <%= f.text_field :name, autofocus: true, placeholder: User.human_attribute_name(:name), class: "input-field" %>
          <div class="input-icon-field"><svg><use xlink:href="#academic-cap"></use></svg></div>
        </div>
        <%# メールアドレスフィールド %>
        <div class="input-container">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: User.human_attribute_name(:email), class: "input-field" %>
          <div class="input-icon-field"><svg><use xlink:href="#mail"></use></svg></div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <%# エリアセレクトフィールド %>
        <div class="input-container">
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: "エリアを選択" } , class: 'input-field' %>
          <div class="input-icon-field"><svg><use xlink:href="#location-marker"></use></svg></div>
          <i class="fa-solid fa-angle-down select-box-arrow"></i>
        </div>
        <%# パスワードフィールド %>
        <div class="input-container">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{User.human_attribute_name(:password)} (#{@minimum_password_length}文字以上)", class: "input-field" %>
          <div class="input-icon-field"><svg><use xlink:href="#unlock"></use></svg></div>
        </div>
        <%# パスワード確認フィールド %>
        <div class="input-container">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: User.human_attribute_name(:password_confirmation), class: "input-field" %>
          <div class="input-icon-field"><svg><use xlink:href="#unlock"></use></svg></div>
        </div>
        <div class="form-button-field mt-4">
          <%= link_to "キャンセル", root_path, class: "mr-3 btn btn-secondary btn-pop", data: { confirm: '入力中のデータは削除されます。キャンセルしますか？'} %>
          <%= f.submit "登録", class: "btn btn-primary btn-pop" %>
        </div>
      <% end %>
    </div>
    <div class="form-footer">
      <h4 class="">アカウントをお持ちですか？
        <%= link_to 'ログイン', new_user_session_path, class: "text-sm link" %>
      </h4>
      <h4 class="pt-4 text-center text-sm text-gray-800 font-light">閲覧用</h4>
      <div class="flex justify-center">
        <%= button_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-pop" %>
      </div>
    </div>
  </div>
</div>
