<%# ロースター詳細 %>
<section class="card">
  <div class="container px-6 py-8 mx-auto">
    <div class="items-center flex flex-col lg:flex-row">
      <div class="lg:w-1/2">
        <div class="flex justify-start items-baseline">
          <%= link_to @roaster.name, @roaster, class:"text-2xl font-medium text-gray-800" %>
        </div>
        <div class="flex items-baseline">
          <%= render 'stats' %>
          <div class="ml-4"><%= render partial: 'follow_form', locals: { roaster: @roaster } %></div>
          <div class="ml-2"><%= link_to_edit_roaster(@roaster) %></div>
        </div>
        <div class="mt-4 text-gray-500 lg:max-w-md">
          <div>住所:<%= @roaster.full_address %></div>
          <div>TEL:<%= @roaster.phone_number %></div>
          <p><%= @roaster.describe %></p>
        </div>
        <!-- <#%= render partial: 'shared/external_link' %> -->
      </div>
      <div class="mt-8 lg:mt-0 lg:w-1/2">
        <div class="flex items-center justify-center lg:justify-end">
          <div class="max-w-lg">
            <%= show_image(@roaster) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
