<% provide(:title, "ロースター詳細") %>
<h1 class="mb-1">ロースター</h1>
<hr class="mb-3">

<p><%= @roaster.name %><span class="ml-3">＠<%= @roaster.address %></span></p>
<div class="flex my-4">
  <%= image_tag @roaster.image.thumb.url, class: "thumbnail" %>
  <div class="bg-white rounded px-8 pt-6 pb-8 mb-4 ml-4 w-full max-w-md ">
    <p><%= @roaster.describe %></p>
  </div>
</div>

<% if current_user.roaster == @roaster %>
  <%= link_to '編集', edit_roaster_path , class: "btn-primary" %>
<% end %>
