<!-- likes一覧用 -->
<article id="like-<%= like.id %>" class="pb-4">
  <div class="card px-8 mt-16">
    <div class="flex justify-center -mt-16 md:justify-end items-end">
      <%= link_to show_thumbnail(like.offer.roaster), like.offer.roaster %>
    </div>
    <div class="flex justify-between">
      <div class="font-medium mb-4 <%=like.offer.status%>"><%= like.offer.status_i18n %></div>
      <h2 class="text-md title-font text-gray-500 tracking-widest hover:text-gray-800"><%= link_to like.offer.roaster.name, like.offer.roaster %></h2>
    </div>
    <div class="md:flex items-baseline">
      <h1 class="md:mt-2 text-xl lg:text-2xl font-medium text-gray-800 lg:mt-0"><%= like.offer.bean.name %></h1>
      <div class="text-right"><%= link_to '詳細', offer_path(like.offer), class: "btn btn-secondary ml-4" %></div>
    </div>
    <div class="flex">
      <%= render partial: 'offers/want_form', locals: { offer: like.offer} %>
      <%= render partial: 'offers/like_form', locals: { offer: like.offer} %>
    </div>
    <%= render partial: 'offers/offer_info_sort', locals: { offer: like.offer } %>
  </div>
</article>
