<% provide(:title, "お気に入り") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-between items-end">
    <h1 class="page-title">お気に入り</h1>
    <div class="text-left">
      <%# <%= form_with(url: search_wants_path, method: :get, local: true)do |f| %> %>
        <div class="flex">
          <svg class="w-4 h-4"><use xlink:href="#search"></use></svg>
          <%# <%= f.label :search, "お気に入りを検索", class: "label pl-1" %> %>
        </div>
        <div class="search-form">
          <%# <%= f.submit "検索", class: "search-button"  %> %>
          <%# <%= f.select :search, Offer.statuses.map {|k, v| [t("enums.offer.status.#{k}"), v]}, {include_blank: 'ステータスを選択'}, class: 'search-field' %> %>
          <i class="fa-solid fa-angle-down select-box-arrow"></i>
        </div>
        <%# <% end %> %>
      </div>
    </div>
  </header>
  <section class="mt-4">
    <% if @likes.any? %>
      <%= render @likes %>
      <%== pagy_nav_js(@pagy) %>
    <% end %>
  </section>
