<!-- オファーコンテンツ -->
<article id="offer-<%= offer.id %>" class="text-gray-600 body-font overflow-hidden">
  <div class="card my-14">
    <header>
      <div class="w-11/12 mb-2 mx-auto">
        <div class="flex justify-center -mt-16 lg:justify-end">
          <%= link_to show_thumbnail(offer.roaster), offer.roaster %>
        </div>
        <div class="flex justify-between">
          <div class="font-semibold mb-4 <%=offer.status%>"><%= offer.status_i18n %></div>
          <h2 class="text-md title-font text-gray-500 tracking-widest hover:text-gray-800"><%= link_to offer.roaster.name, offer.roaster %></h2>
        </div>
        <h1 class="mb-2 text-gray-900 text-2xl title-font font-medium"><%= link_to offer.bean.name, offer %></h1>
        <div class="flex justify-between items-end">
          <div class="flex">
            <%= render partial: 'offers/want_form', locals: { offer: offer} %>
            <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            </button>
          </div>
          <div class="mr-4"><%= render partial: 'offers/stats', locals: { offer: offer } %></div>
        </div>
      </div>
    </header>
    <div class="w-11/12 mx-auto flex flex-wrap">
      <div class="tab-panel w-full lg:w-1/2 lg:pr-4 mb-4 lg:mb-0">
        <!--タブ-->
        <ul class="tab-group">
          <li class="tab is-active">Description</li>
          <li class="tab">Detail</li>
          <li class="tab">Schedule</li>
        </ul>
        <!--コンテンツ-->
        <div class="panel-group">
          <!-- 紹介文 -->
          <section class="offer-description panel is-show">
            <p class="leading-relaxed pt-4"><%= offer.bean&.describe %></p>
          </section>
          <!-- 詳細 -->
          <section class="offer-detail panel" >
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">生産国</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.country %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">焙煎度</span>
              <span class="ml-auto text-gray-900"><%= offer.bean.roast_level&.name %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">地域</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.subregion %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">農園</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.farm %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">品種</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.variety %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">精製方法</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.process %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">標高</span>
              <span class="ml-auto text-gray-900"><%= "#{offer.bean&.elevation} m" %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">収穫</span>
              <span class="ml-auto text-gray-900"><%= "#{offer.bean.cropped_at&.year}年 #{offer.bean.cropped_at&.month}月" %></span>
            </div>
          </section>
          <!-- スケジュール -->
          <section class="offer-schedule panel" >
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">オファー作成日</span>
              <span class="ml-auto text-gray-900"><%= offer.created_at.strftime("%Y/%m/%d")%></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">オファー終了日</span>
              <span class="ml-auto text-gray-900"><%= l offer&.ended_at%></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">ロースト日</span>
              <span class="ml-auto text-gray-900"><%= l offer&.roasted_at %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">受け取り開始日</span>
              <span class="ml-auto text-gray-900"><%= l offer&.receipt_started_at %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">受け取り終了日</span>
              <span class="ml-auto text-gray-900"><%= l offer&.receipt_ended_at %></span>
            </div>
          </section>
        </div>
        <!-- 価格 -->
        <div class="mt-4 flex justify-end">
          <%= render partial:'offers/price_weight', locals: { offer: offer } %>
        </div>
      </div>
      <!-- 画像 -->
      <%= render partial:'beans/images_swiper', locals: { bean: offer.bean, cls: "w-full lg:w-1/2 h-64 md:h-96 lg:h-auto" } %>
    </div>
  </div>
</article>
