<!-- オファーコンテンツ -->
<article id="offer-<%= offer.id %>" class="text-gray-600 overflow-hidden">
  <div class="card my-14">
    <header>
      <div class="w-11/12 mb-2 mx-auto">
        <div class="flex justify-center -mt-16 lg:justify-end">
          <%= link_to show_thumbnail(offer.roaster), offer.roaster %>
        </div>
        <div class="flex flex-col md:flex-row justify-between items-center my-2">
          <div class="w-full md:w-auto flex flex-col md:flex-row justify-between items-start md:items-center order-2 md:order-1">
            <div class="<%=offer.status%> badge -mt-6 md:mt-0 md:mr-4"><%= offer.status_i18n %></div>
            <div class="mt-4 md:mt-0">
              <%= render partial: 'beans/taste_tag', locals: { bean: offer.bean } %>
            </div>
          </div>
          <h2 class="roaster-name order-1 md:order-2"><%= link_to offer.roaster.name, offer.roaster %></h2>
        </div>
        <h1 class="mb-2 text-gray-900 text-lg md:text-2xl title-font"><%= link_to offer.bean.name, offer %></h1>
        <div class="flex justify-between items-end">
          <div class="flex">
            <%= render partial: 'offers/want_form', locals: { offer: offer} %>
            <%= render partial: 'offers/like_form', locals: { offer: offer} %>
          </div>
          <div class="mr-4"><%= render partial: 'offers/stats', locals: { offer: offer } %></div>
        </div>
      </div>
    </header>
    <div class="w-11/12 mx-auto flex flex-wrap">
      <div class="tab-panel w-full lg:w-1/2 lg:pr-4 mb-4 lg:mb-0">
        <!--タブ-->
        <ul class="tab-group">
          <li class="offer-overview-tag py-2 text-lg px-1 tab is-active e-font">Overview</li>
          <li class="offer-taste-tag py-2 text-lg px-1 tab e-font">Taste</li>
          <li class="offer-schedule-tag py-2 text-lg px-1 tab e-font">Schedule</li>
        </ul>
        <!--コンテンツ-->
        <div class="panel-group w-full lg:h-80">
          <!-- 詳細 -->
          <section class="offer-overview panel is-show" >
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">生産国</span>
              <span class="ml-auto text-gray-900"><%= offer.bean.country&.name  %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">焙煎度</span>
              <span class="ml-auto text-gray-900"><%= offer.bean.roast_level&.name %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">地域</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.subregion %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">農園</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.farm %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">品種</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.variety %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">精製方法</span>
              <span class="ml-auto text-gray-900"><%= offer.bean&.process %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">標高</span>
              <span class="ml-auto text-gray-900"><%= "#{offer.bean&.elevation} m" %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">収穫</span>
              <span class="ml-auto text-gray-900"><%= "#{offer.bean.cropped_at&.year}年 #{offer.bean.cropped_at&.month}月" %></span>
            </div>
          </section>
          <!-- テイストチャート -->
          <section class="offer-taste panel">
            <div class="max-w-sm mx-auto">
              <%= render partial: 'beans/taste_chart', locals: { bean: offer.bean } %>
            </div>
          </section>
          <!-- スケジュール -->
          <section class="offer-schedule panel" >
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">オファー作成日</span>
              <span class="ml-auto text-gray-900"><%= offer.created_at.strftime("%Y/%m/%d")%></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">オファー終了日</span>
              <span class="ml-auto text-gray-900"><%= l offer&.ended_at%></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">ロースト日</span>
              <span class="ml-auto text-gray-900"><%= l offer&.roasted_at %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">受け取り開始日</span>
              <span class="ml-auto text-gray-900"><%= l offer&.receipt_started_at %></span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
              <span class="text-gray-500">受け取り終了日</span>
              <span class="ml-auto text-gray-900"><%= l offer&.receipt_ended_at %></span>
            </div>
          </section>
        </div>
        <!-- 価格 -->
        <div class="pt-4 flex justify-end">
          <%= render partial:'offers/price_weight', locals: { offer: offer } %>
        </div>
      </div>
      <!-- 画像 -->
      <%= render partial:'beans/images_swiper', locals: { bean: offer.bean, cls: "w-full lg:w-1/2 h-64 md:h-96 lg:h-auto" } %>
    </div>
  </div>
</article>
