<div id="roaster-aside" class="h-full flex flex-col items-center">
  <div class="mt-10">
    <%= render 'shared/search_link' %>
  </div>
  <section class="mt-8 flex flex-col justify-center space-y-1">
    <h1 class="text-md text-gray-600 text-center e-font">Notification</h1>
    <%= no_notes_for_roaster(current_user.roaster.offers) %>
    <%= note_for_on_roasting_offers(current_user.roaster.offers)%>
    <%= note_for_on_selling_offers(current_user.roaster.offers)%>
  </section>
  <div class="mt-auto mb-4">
    <%= render 'shared/copyright' %>
  </div>
</div>
