<div id="roaster-aside" class="h-full flex flex-col items-center">
  <div class="w-44 mt-10">
    <%= render 'shared/search_link' %>
  </div>
  <section class="px-6 mt-8 flex flex-col justify-center space-y-1 text-center">
    <h1 class="text-md text-gray-600 e-font">Notification</h1>
    <ul>
      <li><%= no_notes_for_roaster(current_user.roaster.offers) %></li>
      <li><%= note_for_on_roasting_offers(current_user.roaster.offers)%></li>
      <li><%= note_for_on_selling_offers(current_user.roaster.offers)%></li>
    </ul>
  </section>
  <div class="mt-auto mb-4">
    <%= render 'shared/copyright' %>
  </div>
</div>
