<%# コーヒー豆詳細情報 %>
<section class="card text-gray-600">
  <h1 class="w-11/12 mx-auto text-center pb-2 text-gray-900 text-xl lg:text-2xl title-font"><%= bean.name %></h1>
  <div class="w-11/12 mx-auto flex flex-col justify-center items-center">
    <%# カルーセル %>
    <%= render partial:'beans/images_swiper', locals: { bean: bean, cls: "w-full lg:w-10/12 h-64 lg:h-96" } %>
    <div class="text-center lg:w-10/12 w-full pt-4">
      <p class="leading-relaxed"><%= bean&.describe %></p>
      <section class= "w-11/12 mx-auto pt-4">
        <div class="mb-2 text-center text-lg e-font">〜 Flavor 〜</div>
        <%= render partial: 'beans/taste_tag', locals: { bean: bean } %>
      </section>
      <section class= "pt-4 grid-container grid-cols-2">
        <div class="col-span-2 mb-2 text-lg e-font">〜 Detail 〜</div>
        <div class="grid-item">
          <span class="text-gray-500">生産国</span>
          <span class="ml-auto text-gray-900"><%= bean.country&.name %></span>
        </div>
        <div class="grid-item">
          <span class="text-gray-500">焙煎度</span>
          <span class="ml-auto text-gray-900"><%= bean.roast_level&.name %></span>
        </div>
        <div class="grid-item">
          <span class="text-gray-500">地域</span>
          <span class="ml-auto text-gray-900"><%= bean&.subregion %></span>
        </div>
        <div class="grid-item">
          <span class="text-gray-500">農園</span>
          <span class="ml-auto text-gray-900"><%= bean&.farm %></span>
        </div>
        <div class="grid-item">
          <span class="text-gray-500">品種</span>
          <span class="ml-auto text-gray-900"><%= bean&.variety %></span>
        </div>
        <div class="grid-item">
          <span class="text-gray-500">精製方法</span>
          <span class="ml-auto text-gray-900"><%= bean&.process %></span>
        </div>
        <div class="grid-item">
          <span class="text-gray-500">標高</span>
          <span class="ml-auto text-gray-900"><%= "#{bean&.elevation} m" %></span>
        </div>
        <div class="grid-item">
          <span class="text-gray-500">収穫</span>
          <span class="ml-auto text-gray-900"><%= "#{bean.cropped_at&.year}年 #{bean.cropped_at&.month}月" %></span>
        </div>
      </section>
      <section class="pt-4 h-80 w-80 sm:h-96 sm:w-96 mx-auto relative">
        <div class="text-lg e-font">〜 Taste 〜</div>
        <div class="h-80 w-80 sm:h-96 sm:w-96 absolute top-4 left-3">
          <%= render partial: 'beans/taste_chart', locals: { bean: bean } %>
        </div>
      </section>
    </div>
  </div>
</section>
