<div class="bg-white w-200 mx-auto">
  <li id="bean-<%= bean.id %>">
    <%= show_thumbnail(bean) %>
    <span><%= link_to bean.name, bean %></span>
    <span>
      <% if current_user.had_bean?(bean) %>
        <%= link_to "オファー", new_bean_offer_path(bean), class: "link ml-4" %>
        <%= link_to "編集", edit_bean_path(bean), class: "link ml-4" %>
        <%= link_to "削除", bean, method: :delete, data: { confirm: "本当に削除しますか?" }, class: "link ml-4" %>
      <% end %>
    </span>
    <p> <%= time_ago_in_words(bean.created_at) %> 前</p>
    <div>
      <%= bean.country %>
      <%= bean.process %>
    </div>
    <hr class="mb-3">
  </li>
</div>
