<div class="form form-container">
  <p>タイトル：<%= bean.name %></p>
  <div class="flex">
    <% bean_images.each do |bean_image| %>
      <%= image_tag bean_image.image.thumb.url, class: "thumbnail" if bean_image.image? %>
    <% end %>
  </div>
  <p>生産国：<%= bean&.country %></p>
  <p>焙煎度：<%= bean.roast_level&.name %></p>
  <p>地域：<%= bean&.subregion %></p>
  <p>農園：<%= bean&.farm %></p>
  <p>品種：<%= bean&.variety %></p>
  <p>精製方法：<%= bean&.process %></p>
  <p>標高：<%= "#{bean&.elevation} m" %></p>
  <p>収穫：<%= "#{bean.cropped_at&.year}年 #{bean.cropped_at&.month}月" %></p>
  <p>説明：<%= bean&.describe %></p>
  <p>酸味：<%= bean.acidity %></p>
  <p>香り：<%= bean.flavor %></p>
  <p>ボディ：<%= bean.body %></p>
  <p>苦味：<%= bean.bitterness %></p>
  <p>甘味：<%= bean.sweetness %></p>
  <!-- 処理の分岐が多い、タグ領域(pタグ)の生成をもっとシンプルにできないか？ -->
  <div class="flex">
    <% bean.taste_tags.each do |tag| %>
      <% if tag.id? %>
        <p class="mr-4 px-4 border border-1 border-gray-100 rounded-md"> <%= tag.name %></p>
      <% end %>
    <% end %>
  </div>
</div>
