<%= search_form_for(@roaster_search, as: :roaster_search, url: roaster_searches_path, local: false) do |f| %>
  <%# 店舗名検索 %>
  <div class="input-container">
    <%= f.search_field :name_cont, placeholder: Roaster.human_attribute_name(:name), class: 'input-field' %>
    <div class="input-icon-field"><i class="fa-solid fa-mug-saucer text-gray-300"></i></div>
  </div>
  <%# 都道府県検索 %>
  <div class="input-container">
    <%= f.collection_select :prefecture_code_eq, JpPrefecture::Prefecture.all, :code, :name, { include_blank: "都道府県" }, class: 'input-field' %>
    <div class="input-icon-field">
      <svg><use xlink:href="#location-marker"></use></svg>
    </div>
    <i class="fa-solid fa-angle-down select-box-arrow"></i>
  </div>
  <div class="form-button-field mt-4">
    <%= link_to "クリア", searches_path , class: "mr-4 btn btn-secondary btn-pop" %>
    <div class="actions">
      <%= f.submit "検索", class: "btn btn-primary btn-pop" %>
    </div>
  </div>
<% end %>
