<div class="form-container">
  <div class="form-main">
    <%= form_with(model: @offer) do |f| %>
      <h1 class="form-title"><%= yield(:form_title) %></h1>
      <%= render "shared/error_messages", resource: f.object %>
      <%= f.hidden_field :bean_id, value: "#{@bean.id}" %>
      <div class="flex space-x-1">
        <div class="input-container flex-1">
          <%= f.label :ended_at, class: "label" %>
          <%= f.date_field :ended_at, autofocus: true, max: Date.today.next_month(1), class: "date-input-field" %>
        </div>
        <div class="input-container flex-1">
          <%= f.label :roasted_at, class: "label" %>
          <%= f.date_field :roasted_at, max: Date.today.next_month(1), class: "date-input-field" %>
        </div>
      </div>
      <div class="flex space-x-1">
        <div class="input-container flex-1">
          <%= f.label :receipt_started_at, class: "label" %>
          <%= f.date_field :receipt_started_at, max: Date.today.next_month(1), class: "date-input-field" %>
        </div>
        <div class="input-container flex-1">
          <%= f.label :receipt_ended_at, class: "label" %>
          <%= f.date_field :receipt_ended_at, max: Date.today.next_month(2), class: "date-input-field" %>
        </div>
      </div>
      <div class="input-container">
        <%= f.number_field :price, placeholder: "販売価格（円）", min: 0, class: "input-field" %>
        <div class="input-icon-field"><i class="fa-solid fa-coins fa-lg"></i></i></div>
    </div>
    <div class="input-container">
      <%= f.number_field :weight, placeholder: "内容量（g）", min: 50, step: 50, class: "input-field" %>
      <div class="input-icon-field"><i class="fa-solid fa-scale-balanced fa-lg"></i></div>
    </div>
    <div class="input-container">
      <%= f.number_field :amount, placeholder: "数量（個）", min: 1, class: "input-field" %>
      <div class="input-icon-field"><i class="fa-solid fa-cubes fa-lg"></i></div>
    </div>
    <div class="form-button-field mt-4">
      <%= link_to "一覧に戻る", beans_path , class: "mr-3 btn-secondary btn-pop", data: { confirm: '入力中のデータは削除されます。キャンセルしますか？'} %>
      <div class="actions">
        <%= f.submit yield(:button_text), class: "btn-primary btn-pop" %>
      </div>
    </div>
  <% end %>
</div>
<div class="form-footer">
  <% if @offer.id? %>
    <p>オファーを
      <%= link_to '削除する', offer_path(@offer), data: { confirm: "本当に削除しますか？"}, method: :delete , class: "link mt-4"%>
    </p>
  <% end %>
</div>
</div>
<%= javascript_pack_tag 'offers/form', 'data-turbolinks-track': 'reload' %>
