<!-- オファー所有者向け -->
<div class="bg-white w-200 mx-auto">
  <li id="offer-<%= offer.id %>">
    <span><%= link_to offer.roaster.name, offer.roaster %></span>
    <span><%= link_to offer.bean.name, offer %></span>
    <span>
      <% if current_user.had_offer?(offer) %>
        <%= link_to "編集", edit_offer_path(offer), class: "link ml-4" %>
        <%= link_to "削除", offer, method: :delete, data: { confirm: "本当に削除しますか?" }, class: "link ml-4" %>
      <% end %>
    </span>
    <div class="flex">
      <% if offer.bean.bean_images.any? %>
        <% offer.bean.bean_images.each do |bean_image| %>
          <%= image_tag bean_image.image.thumb.url, class: "thumbnail" if bean_image.image? %>
        <% end %>
      <% end %>
    </div>
    <div><%= render partial: 'offers/offer_info', locals: { offer: offer } %></div>
    <hr class="mb-3">
  </li>
</div>
