<div class="bg-white w-200 mx-auto">
  <li id="offer-<%= offer.id %>">
    <%= show_thumbnail(offer.roaster) %>
    <span><%= link_to offer.roaster.name, offer.roaster %></span>
    <span><%= link_to offer.bean.name, offer %></span>
    <span>
      <% if current_user.had_offer?(offer) %>
        <%= link_to "編集", edit_offer_path(offer), class: "link ml-4" %>
        <%= link_to "削除", offer, method: :delete, data: { confirm: "本当に削除しますか?" }, class: "link ml-4" %>
      <% end %>
    </span>
    <p> <%= time_ago_in_words(offer.created_at) %> 前</p>
    <div class="flex">
      <% if offer.bean.bean_images.any? %>
        <% offer.bean.bean_images.each do |bean_image| %>
          <%= image_tag bean_image.image.thumb.url, class: "thumbnail" if bean_image.image? %>
        <% end %>
      <% end %>
    </div>
    <div>
      <p><%= offer.bean.country %></p>
      <p><%= offer.bean.process %></p>
      <p><%= offer.created_at %></p>
      <p><%= offer.ended_at %></p>
      <p><%= offer.roasted_at %></p>
      <p><%= offer.receipt_started_at %></p>
      <p><%= offer.receipt_ended_at %></p>
      <p><%= offer.price %></p>
      <p><%= offer.weight %></p>
      <p><%= offer.amount %></p>
    </div>
    <hr class="mb-3">
  </li>
</div>
