<div class="stats">
  <% if current_user.had_offer?(offer) %>
    <%= link_to wanted_users_offer_path(offer), class: "link" do%>
      <span id="offer-<%= offer.id %>-wants-count"><%= offer.wants.count %></span>
      wants
    <% end %>
  <% else %>
    <span id="offer-<%= offer.id %>-wants-count"><%= offer.wants.count %></span>
    wants
  <% end %>
  / <%= offer.amount %>
</div>
