<% provide(:title, "オファー一覧") %>
<h1 class="mb-1">オファ一覧</h1>
<hr class="mb-3">
<div class="container">
  <%= link_to "コーヒー豆一覧", beans_path, class: "mr-4 mb-8 btn-primary" %>
  <div class="form form-container">
    <%= form_with(url: search_offers_path, method: :get, local: true)do |f| %>
      <div class="select-field">
        <%= f.label :search, "検索", class: "label" %>
        <%= f.select :search, Offer.statuses.map {|k, v| [t("enums.offer.status.#{k}"), v]}, {include_blank: '選択ボックス'}, class: 'select-box' %>
        <%= f.submit "検索", class: "btn-primary"  %>
      </div>
    <% end %>
  </div>
  <div class="w-200 pt-12 mx-auto">
    <% if @offers.any? %>
      <ol>
        <%= render @offers %>
      </ol>
      <%== pagy_nav_js(@pagy) %>
    <% end %>
  </div>
</div>
