<% provide(:title, "オファー一覧") %>
<header class="header">
  <div class="h-full w-11/12 mx-auto flex justify-between items-end">
    <h1 class="page-title">オファー一覧</h1>
    <div class="flex items-end">
      <div class="hidden lg:block">
        <%= link_to "コーヒー豆一覧", beans_path, class: "link mr-4" %>
      </div>
      <div class="text-left">
        <%= form_with(url: search_offers_path, method: :get, local: true)do |f| %>
          <div class="flex">
            <svg class="w-4 h-4"><use xlink:href="#search"></use></svg>
            <%= f.label :search, "オファーを検索", class: "label pl-1" %>
          </div>
          <div class="search-form">
            <%= f.submit "検索", class: "search-button"  %>
            <%= f.select :search, Offer.statuses.map {|k, v| [t("enums.offer.status.#{k}"), v]}, {include_blank: 'ステータスを選択'}, class: 'search-field' %>
            <i class="fa-solid fa-angle-down select-box-arrow"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="block lg:hidden text-right">
  <%= link_to "コーヒー豆一覧", beans_path, class: "link mr-4" %>
</div>
<% if @offers.any? %>
  <section class="mt-4">
    <%= render partial: @offers %>
    <%== pagy_nav_js(@pagy) %>
  </section>
<% end %>
