<div class="h-14 fixed bottom-0 inset-x-0 z-50 border-t border-bray-200 bg-gray-100">
  <div class="h-full px-8 flex items-center justify-between">
    <% unless cookies[:roaster_id] %>
      <%# ユーザー用 %>
      <!-- User Homeリンク -->
      <%= link_to home_users_path do %>
        <div class="mobile-nav-item">
          <svg class="w-8 h-8"><use xlink:href="#home-solid"></use></svg>
        </div>
      <% end %>
      <!-- Searchリンク -->
      <%= link_to '#' do %>
        <div class="mobile-nav-item">
          <svg class="w-8 h-8"><use xlink:href="#search-solid"></use></svg>
        </div>
      <% end %>
      <!-- Wantsリンク -->
      <%= link_to wants_path do %>
        <div class="mobile-nav-item">
          <svg class="w-8 h-8"><use xlink:href="#shopping-bag-solid"></use></svg>
        </div>
      <% end %>
      <%# お気に入りリンク %>
      <%= link_to '#' do %>
        <div class="mobile-nav-item">
          <svg class="w-8 h-8"><use xlink:href="#heart-solid"></use></svg>
        </div>
      <% end %>
    <% else %>
      <%# ロースター用 %>
      <!-- Roaster Homeリンク -->
      <%= link_to home_roasters_path do %>
        <div class="mobile-nav-item">
          <svg class="w-8 h-8"><use xlink:href="#home-solid"></use></svg>
        </div>
      <% end %>
      <%# ロースターページリンク %>
      <%= link_to roaster_path(current_user.roaster) do %>
        <div class="mobile-nav-item">
          <i class="fa-solid fa-mug-saucer fa-xl"></i>
        </div>
      <% end %>
      <!-- Offersリンク -->
      <%= link_to offers_path do %>
        <div class="mobile-nav-item">
          <svg class="w-8 h-8"><use xlink:href="#clipboard-solid"></use></svg>
        </div>
      <% end %>
      <%# ビーンズリンク %>
      <%= link_to beans_path do %>
        <div class="mobile-nav-item">
          <svg class="h-8 w-8 transform -rotate-45"><use xlink:href="#coffee-bean-solid"></use></svg>
        </div>
      <% end %>
    <% end %>
    <!-- ハンバーガーメニュー -->
    <div id="hamburger-btn" class="mobile-nav-item">
      <svg id="drawer-open-btn" class="w-8 h-8"><use xlink:href="#menu"></use></svg>
      <svg id="drawer-close-btn" class="w-8 h-8 hidden"><use xlink:href="#x"></use></svg>
    </div>
    <div class="drawer-menu relative">
      <div class="absolute bottom-0 inset-x-0">
        <ul class="flex flex-col w-1/2 text-left ml-auto">
          <% unless cookies[:roaster_id] %>
            <li><%= link_to 'マイページ', current_user, class: "drawer-nav-item"%></li>
            <li><%= link_to 'フォロー', following_user_path(current_user), class: "drawer-nav-item"%></li>
          <% else %>
            <li><%= link_to 'マイロースター', roaster_path(current_user.roaster), class: "drawer-nav-item"%></li>
          <% end %>
          <li><%= link_to 'ヘルプ', help_path, class: "drawer-nav-item"%></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, class: "drawer-nav-item"%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
