<ul class="flex flex-col">
  <li class="mb-4 nav-item"><strong><%= link_to current_user.name, home_users_path %></strong></li>
  <li class="mb-4 nav-item"><%= link_to 'my page', current_user %></li>
  <li class="mb-4 nav-item"><%= link_to 'follow', following_user_path(current_user) %></li>
  <li class="mb-4 nav-item"><%= link_to 'wants', wants_path %></li>
  <li class="mb-4 nav-item"><%= link_to 'likes', '#' %></li>
  <li class="mb-4 nav-item"><%= link_to 'search', '#' %></li>
  <% if current_user.roaster_id? %>
    <li class="mb-4 nav-item"><%= link_to 'roaster', roaster_path(current_user.roaster) %></li>
    <li class="mb-4 nav-item"><%= link_to 'beans', beans_path %></li>
    <li class="mb-4 nav-item"><%= link_to 'offers', offers_path %></li>
  <% end %>
  <li class="mb-4 nav-item"><%= link_to 'help', help_path %></li>
  <li class="mb-4 nav-item"><%= link_to 'log out', destroy_user_session_path %></li>
</ul>
