<ul class="flex flex-col">
  <% unless cookies[:roaster_id] %>
    <%# ユーザー用  %>
    <%# ユーザーホームリンク %>
    <li class="mb-2">
      <%= link_to home_users_path do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8" ><use xlink:href="#home"></use></svg>
          <div class="side-nav-text ml-1">Home</div>
        </div>
      <% end %>
    </li>
    <%# マイページリンク %>
    <li class="mb-2">
      <%= link_to current_user do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8"><use xlink:href="#user"></use></svg>
          <div class="side-nav-text ml-1">User</div>
        </div>
      <% end %>
    </li>
    <%# フォローリンク %>
    <li class="mb-2">
      <%= link_to following_user_path(current_user) do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8"><use xlink:href="#star"></use></svg>
          <div class="side-nav-text ml-1">Follow</div>
        </div>
      <% end %>
    </li>
    <%# ウォンツリンク %>
    <li class="mb-2">
      <%= link_to wants_path do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8"><use xlink:href="#shopping-bag"></use></svg>
          <div class="side-nav-text ml-1">Wants</div>
        </div>
      <% end %>
    </li>
    <%# お気に入りリンク %>
    <li class="mb-2">
      <%= link_to likes_path do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8"><use xlink:href="#heart"></use></svg>
          <div class="side-nav-text ml-1">Likes</div>
        </div>
      <% end %>
    </li>
    <%# 検索リンク %>
    <li class="mb-2">
      <%= link_to searches_path do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8"><use xlink:href="#search"></use></svg>
          <div class="side-nav-text ml-1">Search</div>
        </div>
      <% end %>
    </li>
  <% else %>
    <%# ロースター用 %>
    <%# ロースターホームリンク %>
    <li class="mb-2">
      <%= link_to home_roasters_path do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8"><use xlink:href="#home"></use></svg>
          <div class="side-nav-text ml-1">Home</div>
        </div>
      <% end %>
    </li>
    <%# ロースターページリンク %>
    <li class="mb-2">
      <%= link_to roaster_path(current_user.roaster) do %>
        <div class="side-nav-item group flex items-end">
          <svg  class="h-8 w-8"><use xlink:href="#coffee-cup"></use></svg>
          <div class="side-nav-text ml-1">Roaster</div>
        </div>
      <% end %>
    </li>
    <%# ビーンズリンク %>
    <li class="mb-2">
      <%= link_to beans_path do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8 transform -rotate-45"><use xlink:href="#coffee-bean"></use></svg>
          <div class="side-nav-text ml-1">Beans</div>
        </div>
      <% end %>
    </li>
    <%# オファーリンク %>
    <li class="mb-2">
      <%= link_to offers_path do %>
        <div class="side-nav-item group flex items-end">
          <svg class="h-8 w-8"><use xlink:href="#clipboard"></use></svg>
          <div class="side-nav-text ml-1">Offers</div>
        </div>
      <% end %>
    </li>
  <% end %>
  <%# 共通 %>
  <%# ヘルプリンク %>
  <li class="mb-2">
    <%= link_to help_path do %>
      <div class="side-nav-item group flex items-end">
        <svg class="h-8 w-8"><use xlink:href="#question-mark-circle"></use></svg>
        <div class="side-nav-text ml-1">Help</div>
      </div>
    <% end %>
  </li>
  <%# ログアウトリンク %>
  <li class="mb-2">
    <%= link_to destroy_user_session_path do %>
      <div class="side-nav-item group flex items-end">
        <svg class="h-8 w-8"><use xlink:href="#logout"></use></svg>
        <div class="side-nav-text ml-1">LogOut</div>
      </div>
    <% end %>
  </li>
</ul>
