<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= yield(:title) %> | BeansApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/2a4ad365af.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-gray-50">
    <div class="container max-w-screen-2xl md:mx-auto">
      <div class="flex flex-col md:flex-row">
        <%# ナビコンテンツ %>
        <%# <div class="w-full md:w-28 md:min-h-screen md:flex-none"> %>
        <nav>
          <%# モバイルトップナビ %>
          <div class="md:hidden">
            <%= render 'layouts/mobile_top_nav' %>
          </div>
          <%# モバイルボトムナビ %>
          <div class="md:hidden">
            <%= render 'layouts/mobile_bottom_nav' %>
          </div>
          <%# デスクトップサイドナビ %>
          <div class="h-full w-28 hidden md:block">
            <%= render 'layouts/side_nav' %>
          </div>
        </nav>
        <%# メインコンテンツ %>
        <main class="md:w-9/12">
          <div class="container mx-auto my-14">
            <div id="flash-messages">
              <%= render 'layouts/flash_messages' %>
            </div>
            <%= yield %>
          </div>
        </main>
        <%# サイドコンテンツ %>
        <aside class="hidden md:block w-3/12">
          <div class="h-full px-4 border-l border-gray-200">
            <%= yield :aside %>
          </div>
        </aside>
      </div>
    </div>
    <!-- <%# <%= debug(params) if Rails.env.development? %> %> -->
  </body>
</html>
