<!DOCTYPE html>
<html lang="ja">
  <%= render 'layouts/head' %>
  <body class="bg-white">
    <div class="container max-w-screen-2xl md:mx-auto">
      <div class="flex flex-col md:flex-row">
        <%# ナビコンテンツ %>
        <nav class=" bg-gray-50">
          <%# モバイルトップナビ %>
          <div class="md:hidden">
            <%= render 'layouts/mobile_top_nav' %>
          </div>
          <%# モバイルボトムナビ %>
          <div class="md:hidden">
            <%= render 'layouts/mobile_bottom_nav' %>
          </div>
          <%# デスクトップサイドナビ %>
          <div class="h-full w-28 hidden md:block">
            <%= render 'layouts/side_nav' %>
          </div>
        </nav>
        <%# メインコンテンツ %>
        <main class="md:w-9/12">
          <div class="container mx-auto my-14 md:my-0">
            <div id="flash-messages">
              <%= render 'layouts/flash_messages' %>
            </div>
            <%= yield %>
          </div>
        </main>
        <%# サイドコンテンツ %>
        <aside class="hidden md:block w-3/12 bg-gray-50">
          <div class="h-full px-4 border-l border-gray-100">
            <% if cookies[:roaster_id] %>
              <%= render partial: 'shared/roaster_aside', locals: { roaster: current_user.roaster} %>
            <% else %>
              <%= render partial: 'shared/user_aside', locals: { user: current_user} %>
            <% end %>
          </div>
        </aside>
      </div>
    </div>
    <!--  <#%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
