<!DOCTYPE html>
<html lang="ja">
  <%= render 'layouts/head' %>
  <body class="bg-white">
    <%= render 'shared/svg' %>
    <div class="container max-w-screen-2xl lg:mx-auto">
      <div class="flex flex-col lg:flex-row">
        <%# ナビコンテンツ %>
        <nav class="bg-gray-50">
          <%# モバイルトップナビ %>
          <div class="lg:hidden">
            <%= render 'layouts/mobile_top_nav' %>
          </div>
          <%# モバイルボトムナビ %>
          <div class="lg:hidden">
            <%= render 'layouts/mobile_bottom_nav' %>
          </div>
          <%# デスクトップサイドナビ %>
          <div class="h-full w-28 hidden lg:block">
            <%= render 'layouts/side_nav' %>
          </div>
        </nav>
        <%# メインコンテンツ %>
        <main class="lg:w-9/12">
          <div class="container mx-auto my-14 lg:my-0">
            <div id="flash-messages">
              <%= render 'layouts/flash_messages' %>
            </div>
            <%= yield %>
          </div>
        </main>
        <%# サイドコンテンツ %>
        <aside class="w-3/12 hidden lg:block bg-gray-50">
          <div class="h-full w-full border-l border-gray-200">
            <% if cookies[:roaster_id] %>
              <div class="h-screen px-2 sticky top-0">
                <%= render partial: 'shared/roaster_aside' %>
              </div>
            <% else %>
              <div class="h-screen px-2 overflow-y-scroll overflow-x-hidden sticky top-0">
                <%= render partial: 'shared/user_aside' %>
              </div>
            <% end %>
          </div>
        </aside>
      </div>
    </div>
    <!--  <#%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
