<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | BeansApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-white">
    <header class="h-28 bg-gray-100 border-b-2 border-gray-200 py-15 flex items-center">
        <h1 class="ml-28"><%= link_to 'Beans!', root_path %></h1>
      <nav class="ml-5">
        <% if user_signed_in? %>
          <strong><%= link_to current_user.name, current_user %></strong>
          <ul>
            <li class="mx-5 nav-link"><%= link_to 'ログアウト', destroy_user_session_path %></li>
            <li class="mx-5"><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
          </ul>
        <% else %>
          <ul>
            <li class="mx-5"><%= link_to 'サインアップ', new_user_registration_path %></li>
            <li class="mx-5"><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        <% end %>
      </nav>
    </header>
      <div class="container bg-blue-50 mx-auto">
        <%# アラート %>
        <p class="notice" role="notice"><%= notice %></p>
        <p class="alert" role="alert"><%= alert %></p>
        <%= yield %>
      </div>
        <%= debug(params) if Rails.env.development? %>
  </body>
</html>
