<!DOCTYPE html>
<html lang="ja">
  <%= render 'layouts/head' %>
  <body class="bg-white">
    <%= render 'shared/svg' %>
    <div class="max-w-screen-2xl mx-auto">
      <%= render 'layouts/static_pages_nav' %>
      <%= render 'layouts/flash_messages' %>
      <%# メインコンテンツ %>
      <main>
        <%= yield %>
      </main>
    </body>
  </html>
