<!DOCTYPE html>
<html lang="ja">
  <%= render 'layouts/head' %>
  <body class="bg-white">
    <div class="max-w-screen-2xl mx-auto">
      <%# メインコンテンツ %>
      <main class="mx-auto min-h-screen">
        <div id="flash-messages" class="fixed top-0 inset-x-0">
          <%= render 'layouts/flash_messages' %>
        </div>
        <%= yield %>
      </main>
      <footer class="h-14 border-b z-50 text-black border-gray-100 bg-gray-100 opacity-60">
        <div class="h-full flex items-center justify-between">
          <!-- TOPアイコン -->
          <div class="pl-8 md:pl-20">
            <div><%= link_to 'Beans!', root_path %></div>
          </div>
          <!-- 切り替えアイコン -->
          <nav class="pr-2 md:pl-16 h-full">
            <ul class="flex h-full">
              <li><%= link_to 'HOME', root_path, class: "nav-item" %></li>
              <li><%= link_to 'ABOUT', about_path, class: "nav-item" %></li>
              <li><%= link_to 'HELP', help_path, class: "nav-item" %></li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
    <%#= debug(params) if Rails.env.development? %>
  </body>
</html>
